.navbar{
    background-color: #333;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
}

.nav-link ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.nav-link li{
    display: inline;
}

.nav-link a, .nav-link, .user-name{
    text-decoration: none;
    padding: 0.5rem 1rem;
    color: white;
}

.logout-btn{
    padding: 5px 15px;
    border-radius: 10px;
    color: black;
    border: none;
}